spring:

  config:
    activate:
      on-profile: dev
  
  datasource:
    url: jdbc:postgresql://localhost:5433/${POSTGRES_COMPANYDB_DB}
    username: ${POSTGRES_COMPANYDB_USER}
    password: ${POSTGRES_COMPANYDB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

keycloak:
  server-url: ${KEYCLOAK_SERVER_URL}
  realm: ${KEYCLOAK_REALM}
  client-id: ${KEYCLOAK_CLIENT_ID_ADMIN}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}